/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    padding: 0;
    margin: 40px 0 0 0 !important;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    /* padding: 80px 0 54px; */
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.section-products .header {
    margin-bottom: 40px;
    margin-top: 50px;
}

.section-products .header h3 {
    /* font-size: 1rem; */
    color: #fe302f;
    /* font-weight: 500; */
    /* font-size: 18px; */
    font-size: 24px;
    font-weight: 400;
}

.section-products .header h2 {
    /* font-size: 2.2rem;
    font-weight: 400; */
    color: #444444; 
    font-size: 36px;
    font-weight: 600;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    /* height: 290px;
    max-height: 290px; */
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 6px;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}
.section-products .single-product .part-2{
  position: relative;
  height: 151px;
}
.section-products .single-product .part-2 button{
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    /* background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center; */
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    /* background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center; */
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    /* background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center; */
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    /* background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center; */
    background-size: cover;
}
.section-products .single-product .part-1 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
    border-radius: 6px;
    cursor: pointer;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title, .section-products .single-product .part-1 .product-title {
    /* font-size: 1rem; */
    font-size: 18px;
}
.section-products .single-product .part-2 p, .section-products .single-product .part-1 p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
}
.section-products .single-product .part-2 button, .section-products .single-product .part-1 button {
  margin: 20px 0 0 0;
}

.section-products .single-product .part-2 h4, .section-products .single-product .part-1 h4 {
    display: inline-block;
    /* font-size: 1rem; */
    font-size: 14px;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}



/* New */
.container .row{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
}
.container .row .col-md-6{
    min-width: 350px;
    max-width: 350px;
    margin: 0 25px 0 0;
}
.container .row .col-md-6:last-child{
    margin: 0 0 0 0;
}
.text-center{
    justify-content: center;
}

/* Button */
.btn{
    cursor: pointer;
    border: 1px solid #fe302f;
    border-radius: 10px;
    background-color: #fff;
    color: #fe302f;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
.btn:hover{
    color: #fff;
    background-color: #fe302f;
    border: 1px solid transparent;
}

.logo-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #444444;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.logo-number .logo{
    width: 100px;
    height: 100px;
}
.logo-number .logo img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.logo-number .cart-ico i{
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
  color: #ccc;
}
  /* .logo-number .cart-ico i:hover{
    color: #fe302f;
  } */
.logo-number .cart-ico{
  position: relative;
}
.logo-number .cart-ico .iconShopping p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  color: #999;
}
.logo-number .cart-ico i ul.count{
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: absolute;
  top: -20px;
  right: 12px;
}
.logo-number .cart-ico i ul.count li{
  padding: 0px 0 5px 0;
  margin: 0;
  list-style: none;
}
.logo-number .cart-ico i ul.count li:last-child{
  padding: 0px 0 0 0;
  margin: 0;
}





/* Footer */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  margin: 50px 0 0 0;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/* Modal CSS */
.modal-header{
    padding: 20px !important;
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    border-bottom: none !important;
}
.modal-header p{
    padding: 0;
    margin: 0;
}
.modal-footer .btn-default{
    width: 100px;
}

.modal-content .modal-body p{
  font-size: 16px;
  color: #000;
  text-align: center;
}


/* Cart Css */
/* reset css */
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


